<footer class="footer bg-dark py-2 mt-auto">
    <div class="container row">
        <span class="text-light col-6 col-lg-4">&copy;RecruitMe 2023</span>
        <span class="col-6 col-md-4 offset-md-1 text-center"><a class="text-light" href="#">Back to Top</a></span>
    </div>
</footer>