<% layout('./layouts/boilerplate'); %>
<h1>Oops!</h1>
<h4>Looks like something went wrong.</h4>
<p><%= err.message %> Please try again with a different link. If this message was sent in error, <a href="">contact our support team</a>.</p>
<a href="javascript:history.back()" class="btn btn-primary">Go Back</a>